@font-face {
  font-family: Ropa Sans;
  src: url(assets/Ropa_Sans/RopaSans-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-regular;
  src: url(assets/Roboto/Roboto-Regular.ttf);
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: black;
}

header {
  height: 347px;
  background-image: url(assets/a3fae2ef0c636e73f74801f44296aa74.jpg);
  background-size: cover;
}

header .content {
  display: flex;
  align-items: center;
  width: 40%;
  height: 347px;
  margin-left: 67px;
}

header .content h1 {
  color: #ffd600;
  margin: 0;
  font-family: Ropa Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0.15em;
  text-align: left;
}

main {
  height: 677px;
  background-color: #424242;
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 125px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main .card .card-header {
  position: relative;
  top: -43px;

  height: 77px;
  width: 484px;
  background-color: #535556;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main h3 {
  color: #ffd600;
  font-family: Ropa Sans;
  font-size: 30px;
  line-height: 32.16px;
  margin: 0px;
}

main .card .card-body {
  background-color: #535556;
  position: relative;
  top: -43px;
  height: 470px;
}

main .card .card-body ul {
  margin: 0;
  padding: 0;
}

main .card .card-body ul li {
  background: #8e8e8e;
  list-style-type: none;
  width: 484px;
  height: 47px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

main .card .card-body ul li:nth-child(odd) {
  background: #e1dede;
}

main .card .card-body ul .focused {
  background-color: #444444;
}

main .card .card-body ul li:hover {
  background-color: #444444;
  cursor: pointer;
}

main .card .card-body ul li p {
  font-size: 24px;
  font-family: Roboto;
  margin-left: 20px;
}

main .card .card-footer {
  position: relative;
  top: -43px;
  height: 77px;
  width: 484px;
  background-color: #535556;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

main .card .card-footer p {
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}

main .card .card-footer button {
  border: none;
  background-color: #444444;
  padding: 5px;
  border-radius: 5px;
}

main .card .card-footer button:hover {
  cursor: pointer;
}

main .card .details-card-header {
  background-color: #748687;
  position: relative;
  top: -43px;

  height: 77px;
  width: 484px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main .card .details-card-body {
  position: relative;
  top: -43px;
}

main .card .details-card-body .item-1 {
  background-color: #c4c4c4;
  height: 273.5px;
  width: 484px;
  display: flex;
  flex-direction: column;
}

main .card .details-card-body .card-body-item h5 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.2em;
  text-align: left;
  margin-left: 21px;
}

main .card .details-card-body .card-body-item ul {
  margin: 0;
  padding: 0;
}

main .card .details-card-body .card-body-item ul p {
  font-family: Roboto-regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  margin-left: 21px;
}

main .card .details-card-body .item-2 {
  background-color: #8e8e8e;
  height: 273.5px;
  width: 484px;
  display: flex;
  flex-direction: column;
}

main .card .details-card-body .item-2 h5 {
  position: relative;
  top: 5px;
}

main .card .details-card-body .item-2 button {
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: relative;
  right: 0;
  left: 0;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  width: 200px;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
  color: #ffd600;
}
.loader:before {
  content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100% {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }

  header {
    height: 275px;
    background-size: fill;
  }

  header .content {
    height: 275px;
  }

  header .content h1 {
    font-size: 32px;
    line-height: 34.5px;
  }

  main {
    gap: 5px;
  }

  main .card .card-header {
    width: 374px;
  }

  main .card .card-body ul li {
    width: 374px;
    font-size: 18px;
  }

  main .card .card-footer {
    width: 374px;
  }

  main .card .details-card-header {
    width: 374px;
  }

  main .card .details-card-body .item-1 {
    width: 374px;
  }

  main .card .details-card-body .item-2 {
    width: 374px;
  }

  main .card .details-card-body ul li {
    width: 374px;
  }

  main .card .details-card-footer {
    width: 374px;
  }
}

@media only screen and (max-width: 440px) {
  main {
    height: 630px;
  }

  header {
    height: 225px;
  }

  header .content {
    height: 225px;
  }

  main .card .card-header {
    height: 60px;
  }

  main .card .card-body {
    height: 400px;
  }

  main .card .card-body ul li {
    height: 40px;
  }

  main .card .card-footer {
    height: 60px;
  }

  main .card .details-card-header {
    height: 60px;
  }

  main .card .details-card-body .item-1 {
    height: 270px;
    padding-top: 5px;
  }

  main .card .details-card-body .item-2 {
    height: 330px;
    padding-top: 5px;
  }

  main .card .details-card-body .card-body-item h5 {
    padding-top: 5px;
  }

  main .card .details-card-body .item-2 button {
    display: block;
    width: 200px;
    border: none;
    background-color: #444444;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    margin-top: 30px;
    align-self: center;
  }

  .details-card {
    display: none;
  }
}
